body {
  margin: 0;
  background: #22242e;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

:root {
  font-size: 1.3rem;
  font-family: "Noto Sans", sans-serif;
  --submit: #2d76ff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
}

#keyboardContainer {
  width: 80vw;
  min-height: 25vw;
  position: relative;
  --base: 1.065vw;
  --base-row: 8.8vw;
  --row-distance: calc(3.05*var(--base));
}
#keyboardContainer img {
  width: 100%;
  -webkit-user-drag: none;
}
#keyboardContainer div {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 0.55vw;
  left: 3.9vw;
  /* region ROW POSITIONS */
  /* endregion */
}
#keyboardContainer div button[data-index] {
  font-family: "Noto Sans", sans-serif;
  user-select: none;
  font-size: 0.6vw;
  color: white;
  background: none;
  font-weight: bold;
  border: white 0.07vw solid;
  height: calc(2.5 * var(--base));
  width: calc(2.5 * var(--base));
  border-radius: 0.2vw;
  cursor: pointer;
  /* region CUSTOM SIZES */
  /* endregion */
  /* region SPACING */
  /* endregion */
}
#keyboardContainer div button[data-index].active {
  border-style: dashed;
  box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.87) inset;
}
#keyboardContainer div button[data-index].contrast {
  color: black;
}
#keyboardContainer div button[data-index]:not(.colored):hover {
  background: #595959;
}
#keyboardContainer div button[data-index]:hover {
  opacity: 0.8;
}
#keyboardContainer div button[data-index].longerButton {
  width: calc(3.25 * var(--base));
}
#keyboardContainer div button[data-index]#tabulator {
  width: calc(4 * var(--base));
}
#keyboardContainer div button[data-index]#caps {
  width: calc(4.6 * var(--base));
}
#keyboardContainer div button[data-index]#backspace {
  width: calc(5.75 * var(--base));
}
#keyboardContainer div button[data-index]#rshift {
  width: calc(8 * var(--base));
}
#keyboardContainer div button[data-index]#space {
  width: calc(18.8 * var(--base));
}
#keyboardContainer div button[data-index]#NUM0 {
  width: calc(5.6 * var(--base));
}
#keyboardContainer div button[data-index]#enter {
  width: calc(3.8 * var(--base));
  height: calc(5.5 * var(--base));
  margin-left: calc(0.5 * var(--base));
  z-index: 2;
}
#keyboardContainer div button[data-index].largeNum {
  height: calc(5.5 * var(--base));
  z-index: 2;
}
#keyboardContainer div button[data-index]#hashtag {
  margin-right: calc(15 * var(--base));
}
#keyboardContainer div button[data-index]#arrowUp {
  margin: 0 calc(3.9 * var(--base));
}
#keyboardContainer div button[data-index]#escape {
  margin-right: calc(3 * var(--base));
}
#keyboardContainer div button[data-index].lastFn {
  margin-right: calc(1.7 * var(--base));
}
#keyboardContainer div button[data-index].sectionSpacing {
  margin-right: calc(0.8 * var(--base));
}
#keyboardContainer div.topRow {
  top: calc(var(--base-row) - 4vw);
}
#keyboardContainer div.secondRow {
  top: var(--base-row);
}
#keyboardContainer div.thirdRow {
  top: calc(var(--base-row) + var(--row-distance));
}
#keyboardContainer div.fourthRow {
  top: calc(var(--base-row) + var(--row-distance) * 2);
}
#keyboardContainer div.fifthRow {
  top: calc(var(--base-row) + var(--row-distance) * 3);
}
#keyboardContainer div.sixthRow {
  top: calc(var(--base-row) + var(--row-distance) * 4);
}

#actions {
  z-index: 2;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#actions button {
  font-size: 1rem;
  background: grey;
  color: white;
  border: white 0.1rem solid;
  padding: 0.8rem;
  border-radius: 0.5vw;
  cursor: pointer;
}
#actions button#apply {
  background: var(--submit);
}

#popups {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
}
#popups .popup {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  padding: 3rem;
  gap: 0.3rem;
  background: grey;
  z-index: 100;
  box-shadow: 0 0 20px black;
}
#popups .popup input[type=color] {
  height: 2rem;
  width: 2rem;
  vertical-align: middle;
}
#popups .popup input {
  font-size: 1rem;
}
#popups .popup div {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#popups .popup div button {
  font-size: 1rem;
  background: grey;
  color: white;
  border: white 0.1rem solid;
  padding: 0.5rem;
  border-radius: 0.5vw;
  cursor: pointer;
}
#popups .popup div button[type=submit] {
  background: var(--submit);
}

/*# sourceMappingURL=index.css.map */
